
.custom-audio-player{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    padding: 20px 0px;
}

.aud-ctrl-btn{
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

.vol-ctrl{
    display: flex;
}

.play-time{
    padding: 5px;
    min-width: 70px;
}

.play-seeker{
    display: flex;
    flex-grow: 1;
}
.play-progress{
    flex-grow: 2;
    width: 0px
}

.vol-ctrl{
    transition: all 1s;
    padding-left: 10px;
    border-radius: 10px;
    transition: width 0.3s;
}
.vol-ctrl:hover{
    direction: ltr;
    background:#475f6422;

}

.vol-ctrl .vol-bar{
    width: 0px;
    display: block;
    transition: width 0.3s;
}

.vol-ctrl:hover  .vol-bar{
    width: 100px;
}

.vol-bar::-webkit-slider-thumb{
    visibility: hidden;
}
.vol-ctrl:hover  .vol-bar::-webkit-slider-thumb{
    visibility: visible;
}

/* volume for mozzila */
input[type="range"]{
    background-color: transparent;
}
.vol-bar::-moz-range-thumb{
    background-color: transparent;
    display: none;
    border: none;
    position: relative;
    left: 0px;
    display: none;
}

input[type="range"]::-moz-range-progress{
    background-color: grey;
}

input[type="range"]::-moz-range-track {
    background-color: white;
  }


.mute-btn{
    width:30px;
    height:30px;
    display: flex;
    align-items: center;
}